@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e50000;
    font-family: Acme, sans-serif;
}

.title {
    text-align: center;
    font-size: 4rem;
    color: #fff;
}

.container {
    background: #fff;
    width: 60vw;
    height: 80vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    overflow: scroll;
}

.pokemon-item {
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
}

.pokemon-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
